[buildout]
extends = http://dist.plone.org/release/5.2-latest/versions.cfg
show-picked-versions = true
extensions =
    mr.developer

index = http://devpi.imio.be/root/imio/+simple/
parts =
    instance
    test
    code-analysis
    createcoverage
    releaser
    i18ndude
    omelette
    robot
develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
    zope_i18n_compile_mo_files true
eggs =
    Plone
    Pillow
    plone.app.mosaic
    ideabox.policy [test]


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/ideabox
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
return-status-codes = False


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'ideabox.policy', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[sources]
ideabox.diazotheme.spirit = git git@github.com:IMIO/ideabox.diazotheme.spirit.git

[versions]
# Don't use a released version of ideabox.policy
ideabox.policy =

setuptools = 42.0.2
zc.buildout = 2.13.2
# override some version pinning from Plone:
collective.z3cform.select2 = 3.0.0b2
